.anew{
    padding: 0px;
    margin: 0px;

    &__bg{
        background-image: url(../img/anewlytics.jpg);
        background-repeat: no-repeat;
        background-position: right;
    }

    &__bg-black{
        background-color: $second-black;
        height: 100vh;
        color: $platinum;
        padding-top: 20vh;
        padding-left: 17vw;
        opacity: 0.98;  
        

        h1{
            font-family: $poppins;
            color: $sky-blue;
            margin-bottom: 30px;
            font-size: 5rem;
        }

        p{
            font-family: $bitter;
            font-size: 1rem;
            font-weight: 300;
            font-style: italic;
            width: 400px;
            line-height: 2;
        }

        div{
            height: 2px;
            width: 50px;
            background-color: $primary-pink;
            margin-top: 50px;
        }
    }
}

.name-anew{
    position: absolute;
    z-index: 800;
    //position: fixed;
}

.anew-resume{
    height: 50vh;
    background-color: $platinum;
    z-index: 1000;

    &__col{
        padding: 17vh 11vw;
        
    }

    h3{
        font-family: $bitter;
        color: $primary-pink;
        font-size: 1em;
        font-weight: $bold;
    }

    p{
        font-family: $bitter;
        color: $second-black;
    }
}

.anew-monitor{
    padding-top: 12vh;
    
}

.anew-problem{
    
    height: 100vh;
    

    &__cont{
        padding-top:15vh;
    }

    h3{
        font-family: $bitter;
        color: $primary-pink;
        font-size: 1em;
        
    }

    h2{
        font-size: 3em;
        margin: 20px 0px;
        color: $second-black;
    }

    p,li{
        font-family: $bitter;
        color: $third-black;
        padding-right: 50px;
        line-height: 2;
    }
    &__line{
        height: 2px;
        width: 50px;
        background-color: $primary-pink;
        margin-top: 30px;
    }
}

.anew-goals{
    
    padding: 10vh 11vw;

    h2{
        font-size: 3em;
        margin: 20px 0px;
        color: $second-black;
        margin-bottom: 50px;
    }

    h3{
        font-family: $bitter;
        color: $primary-pink;
        font-size: 1em;
        
    }

    &__circle{
        padding: 7px;
        text-align: center;
        width: 40px;
        height: 40px;
        background-color: $primary-pink;
        border-radius: 30px;
        color: $white;
        margin-bottom: 10px;
    }

    &__p{
        font-family: $bitter;
        color: $third-black;
        margin-bottom: 50px;
    }

    li{
        font-family: $bitter;
        color: $third-black;
    }

    ol{
        padding-top: 100px;
        height: 400px;
        padding-left: 16px;
    }

    i{
        color: $primary-pink;
        font-size: 4em;
        margin-bottom: 20px;
    }
    
}

.anew-sketchs,.anew-wireframes{
    
    padding: 10vh 11vw;
    

    h2{
        font-size: 3em;
        margin: 20px 0px;
        color: $second-black;
        margin-bottom: 50px;
    }

    h3{
        font-family: $bitter;
        color: $primary-pink;
        font-size: 1em; 
    }

    &__img{
       
        
        
    }

}

.cont-two{
   padding-top: 9vh; 
}

.problem-two{
    height: 130px;
}

.h3-estilos{
    font-family: $bitter;
    color: $primary-pink;
    font-size: 1em;
}

.result-p{
    padding: 0px;
    height: 100%;
    border-bottom: 1px solid $platinum;
    padding-bottom: 100px;
}

.anew-contact{
    padding: 150px 0px 0px 0px;
    height: 70vh;
    background-color: $second-black;
}

.anew-type{
    height: 360px;
}

.colors-movile,.icon-movile,.boton-movile{
    display: none;
}

.colors-desk,.boton-desk{
    display: block;
}

.icon-desk{
    display: block;
    padding: 0px; height:243px;
}

.anew__video-cont{
    width: 829px;
    margin-top: 34px;
    height: 528px;
    margin-left: 142px;
    overflow: hidden;
    position: absolute;
}

.video-one{
    position: absolute;
    width: 826px;
    height: 538px;
    margin-top: -25px;
}



