.anew-home{

    img{
        position: absolute;
        height: 100vh;
        width: auto;
        right: 0px;
    }
    
    &__bg-black{
        background-color: #1d1d1d;
        height: 100vh;
        position: absolute;
        z-index: 500;
       
    }
}

.container-fluid{
    padding: 0px;
    margin: 0px;
}

@media (max-width: 767px) {
    .anew-home__bg-black{
        opacity: 0.9;
    }
    
    
  }
