// Esquema de colores

//Primer esquema de colores

$white:#ffffff;
$platinum:#f6f6f6;
$light-gray:#A0A0A0;

//Segundo esquema de colores

$sky-blue:#2CB7FF;
$cream-blue:#61CAFF;

//tercer esquema de colores

$primary-pink:#E56353;
$ruddy-pink:#D76C69;
$spanish-pink:#ECBCBA;

// cuarto esquema de colores

$primary-black:#1b1b1b;
$second-black:#313131;
$third-black:#6C6E70;

//Tipografias

$poppins: 'Poppins', sans-serif;
$bitter: 'Bitter', serif;

//peso de fuentes

$light:300;
$regular:400;
$bold:700;
$black:900;

//Tamaño de fuentes
$xx-large:4rem;
$x-large:3rem;
$large:2rem;
$medium:1rem;