// Esquema de colores

//Primer esquema de colores

$white:#ffffff;
$platinum:#dfdfdf;
$light-gray:#A0A0A0;

//Segundo esquema de colores

$sky-blue:#01CAE0;
$cream-blue:#61CAFF;

//tercer esquema de colores

$primary-pink:#ff2664;
$ruddy-pink:#ff4e80;
$spanish-pink:#ff81a5;

// cuarto esquema de colores

$primary-black:#1b1b1b;
$second-black:#313131;
$third-black:#6C6E70;

// cuarto esquema de colores

$primary-barney:#ff2664;
$second-barney:#8a2be2;
$third-black:#6C6E70;

//Tipografias

$poppins: 'Anton', sans-serif;
$bitter: 'Bitter', serif;

//peso de fuentes

$light:300;
$regular:400;
$bold:700;
$black:900;

//Tamaño de fuentes
$xx-large:4rem;
$x-large:3rem;
$large:2rem;
$medium:1rem;