.contact-page-bg{
    background-color: $second-black;
}

.contact-page{
    height: 100vh;
    text-align: center;
    padding-top: 170px;
    padding-left: 0%;

    h2{
        color: $third-black;
    }

    p{
        color: $third-black;
    }
}

.contacto-page-line{
    margin-left: 48%;
}
