.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 0;
    background-color: $second-black;
    overflow-x: hidden;
    transition: 0.5s;
    opacity: 0.98; 
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: $primary-pink;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: $sky-blue;
  }
  
  .overlay .closebtn {
    position: absolute;
    font-size: 38px;
    top: 8px;
    right: 50px;
  }
  
  .menu-icon-burguer{
    color: $primary-pink;
  }

  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }