.contact{
    height: 740px;
    padding-top: 250px;
    padding-left:8%;
    z-index: 1000;
    position: relative;
    text-align: left;

    img{
        padding: 119px;
        padding-top: 20px;
    }

    a:hover{
       
        text-decoration: none;
    }
    

    &__h2{
        font-size: 3rem;
        color:$third-black;
        margin-bottom: 10px;
    }

    P{
        font-family:$bitter;
        font-style: italic;
        margin-bottom: 35px;
        color: $third-black;
    }

    &__mail{
        font-size: $large;
        font-style: normal !important;
        color: $third-black;
        font-family: $poppins !important;    
        
        span{
            color:$primary-barney;
        }
    }

    &__line{
        width: 50px;
        height: 2px;
        background-color: $primary-barney;
        margin: 33px 0px 33px 3px;
    }

    &__iconos-rrss{
        list-style: none;
        padding-left: 3px;

        li{
            display: inline-block;
        }

        i{
            -webkit-box-shadow: -5px 4px 5px -4px rgba(0,0,0,0.39);
            -moz-box-shadow: -5px 4px 5px -4px rgba(0,0,0,0.39);
            box-shadow: -5px 4px 5px -4px rgba(0,0,0,0.39);
        }

        i:hover{
            -webkit-box-shadow: -8px 11px 14px -4px rgba(0,0,0,0.39);
            -moz-box-shadow: -8px 11px 14px -4px rgba(0,0,0,0.39);
            box-shadow: -8px 11px 14px -4px rgba(0,0,0,0.39);
            transition: box-shadow .3s;
            background-color: $sky-blue;
        }

        .fa-behance,.fa-linkedin-in{
            color: $white;
            background-color:$primary-barney;
            padding: 10px 9px;
            border-radius: 30px;
        }

        .fa-linkedin-in{
            padding: 10px 11px;
        }

    }
    

    &__rotate{
        transform: rotate(180deg);
    }

    @keyframes bounce {
        from {
          transform: translateY(0px);
        }
        to {
          transform: translateY(-15px);
        }
      }
      @-webkit-keyframes bounce {
        from {
          transform: translateY(0px);
        }
        to {
          transform: translateY(-15px);
        }
      }
}

@media (min-width: 320px) and (max-width: 375px) {
  
    .contact{
        padding-top: 164px;
        padding-left: 46px;
        height: 540px;

        &__h2{
            font-size: 2em;
        }

        &__mail{
            font-size: 1.5em;
        }
    }
     
   }
