.header{
    &__nav{
        padding:20px 60px;
        font-size: 0.9rem;
        font-weight: $bold;
        
    }

     &__logo{
       width: 20px;
       background-color:$primary-barney;
     }

   .st0{
       fill:$sky-blue;
   }
}

@media (max-width: 480px) {
  
    .header{
        &__nav{
            background-color: $platinum;
        }
    }
    
  }
