.home{
    padding-top:105px;
    padding-left:7%;
    position: relative;
    z-index: 900;
    width: 100vw;
    height: 100vh;

    &__linea{
        width: 40px;
        height: 8px;
        background-color: $third-black;
        margin-bottom: 30px;
        margin-left: 15px;
    }

    &__h1{
        font-family: $poppins;
        font-size: $x-large;
        
        margin-bottom: 40px;
        color:$second-black;
    }

    &__ui-ux{
        color:$primary-barney;
      
    }

    &__p{
        margin-bottom: 50px;
        font-family: $bitter;
        font-style:italic;
        line-height: 2;
        color:$second-black;
    }

    &__button{
        padding-left:30px;
    }

    &__works-tittle-line-f{
        width: 50px;
        height: 2px;
        background-color:$third-black;
        display: inline-block;
    }

    &__down-icon{
        width: 50px;
        padding-left: 15px;
        margin-top: 20px;
        margin-bottom: 75px;
        animation: bounce 1s infinite alternate;
        -webkit-animation: bounce 1s infinite alternate;
        .st0 {
            fill: $primary-barney;
            
        }
    }

    @keyframes bounce {
        from {
          transform: translateY(0px);
        }
        to {
          transform: translateY(-15px);
        }
      }
      @-webkit-keyframes bounce {
        from {
          transform: translateY(0px);
        }
        to {
          transform: translateY(-15px);
        }
      }


}

.name,.name-anew{
    //position:fixed;
    p{
        margin:80px 0px 0px 46px;
        position: absolute;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        font-size: 12px;
        font-family: $bitter;
        font-style: italic;
        height: max-content;
        color: $third-black;
        
    }

    &__line{
        height: 100px;
        width: 1px;
        background-color: $third-black;
        position: absolute;
        margin:183px 0px 0px 54px;
    }

}



.back-button{
        margin-top: 100px;
        margin: 580px 0px 0px 50px;
        position: fixed;
        z-index: 1000;
        

    i{
        color: $primary-pink;
        font-size: 28px;
        
        
    }
}

.index-button{
    right: 28px;
    bottom: 74px;
    border: 3px solid $primary-pink;
    padding: 9px;
    border-radius: 30px;
   // background-color: $second-black ;
   
}



@media (max-width: 480px) {
  
    .home {
        padding: 163px 30px;
        &__h1{
            font-size: $large;
        }
    }

    .header__nav{
        
    }
    
  }